@implements IDisposable
@if (StringInit.Any())
{
    <MudContainer>

        <div class="grid text-center combocase">

            @foreach (var item in StringInit.Select((value, i) => (value, i)))
            {
                if (char.IsWhiteSpace(item.value))
                {
                    <div>
                        <input MaxLength="1" class="form-control case" disabled="@InputDisabled[item.i]" @key="@item" @ref="InputRefs[item.i]" />
                    </div>

                }
                else if (char.ToString(item.value).Equals("-"))
                {
                    <div>

                        <input class="form-control case" value="-" disabled="@InputDisabled[item.i]" @key="@item" @ref="InputRefs[item.i]" />
                    </div>

                }
                else
                {
                    <div>

                        <input @key="@item"
                               @ref="InputRefs[item.i]" maxlength="1"
                               @oninput="@(e => HandleInput(e, item.i))"
                               disabled="@InputDisabled[item.i]"
                               value="@InputValues[item.i]"
                               type="text" class="form-control case @(GetInputClass(item.i))" />
                    </div>


                }
            }
        </div>

        <input type="text" class="form-control" style="max-width:500px" name="name" value="@StringInit" />
        @* <MudButton OnClick="ProvideHint" Color="Color.Dark" Disabled="(HintAvaiable!=true)">Demander de l'aide</MudButton> *@

    </MudContainer>
}

