@inject IJSRuntime JSRuntime
@if (StringInit.Any())
{   
    @foreach (var item in StringInit.Select((value, i) => (value, i)))
    {
        if (char.IsWhiteSpace(item.value))
        {
            <input MaxLength="1"  disabled/>
            <p>@item.i</p>
        }
        if (char.ToString(item.value).Equals("-"))
        {
            <p>-</p>
            <p>@item.i</p>
        }
        else
        {

            <input @key="@item.i" @ref="inputRefs[item.i]" maxlength="1" @oninput="@(e => OnInputChanged(e, item.i))"
                   type="text" class="form-control" style="width:50px" />
            <p>@item.i</p>
        }
    }
}

@code {

}
