@page "/guessflag"
@inject HttpClient _httpClient
@inject IJSRuntime JSRuntime
<style>
    .viewed{
        overflow-y:scroll;
        max-height:80vh;
    }
</style>
<MudContainer>

<h3>GuessFlag</h3>
<MudGrid>
    <MudItem md="8">
    @if (ListToGuess==null)
    {
        <p>loading..</p>
    }
    @if (ListToGuess?.Count == 0)
    {

        <MudButton Color="Color.Secondary" OnClick="NewGame">New game ?</MudButton>
    }
    else 
    {
        
        @if (rnd.Next(regionAndFlags.Count()) % 2 == 0&&RegionToGuess.Official.Count>0)
        {

            <MudImage Width="150" src="@RegionToGuess.Official[0]" />
        }
        else if (RegionToGuess.Proposed.Count > 0)
        {
    
            <MudImage  Width="150" src="@RegionToGuess.Proposed[0]" />
        }
        else
        {
            <MudImage Width="150" src="@RegionToGuess.Official[0]" />

        }
            <IndividualLetterComboInput OnHintAsked="Decrement" OnWordOk="NextFlag" HintAvaiable="@(Points>0)" StringInit="@RegionToGuess.Region"></IndividualLetterComboInput>
                <h3>Correct/Total: @(Points / 10)/10</h3>
                <h3>left: @(ListToGuess?.Count)</h3>
    }
    </MudItem>
    <MudItem md="4">

        <div class="viewed" id="viewed">
        @if (FlagsViewed!=null)
        {
                    
            @foreach (var i in FlagsViewed)
            {
            <MudGrid>
                    <MudItem xs="8">

                @if (i.Proposed.Count > 0)
                {
                    
                    <MudImage Src="@i.Proposed[0]" />
                }
                @if(i.Official.Count>0)
                {

                    <MudImage Src="@i.Official[0]" />
                }
                    </MudItem>
                    <MudItem xs="4">

                <p>@i.Region</p>
                    </MudItem>
                </MudGrid>            }
        }

        </div>
    </MudItem>
        
</MudGrid>
</MudContainer>