@page "/dominoboard"
@inject IConfiguration Configuration

<MudPaper Class="d-flex flex-column flex-grow-1" Elevation="0">

    @foreach (var piece in dominoPieces.Select((value, i) => new { i, value }))
    {
        <Piece Domino="@piece.value.Domino" Class="@piece.value.Class" />
    }

</MudPaper>
<p>First Playable: @ValueFisrt</p>
<p>Last Playable: @ValueLast</p>
<p>No Playable: @NoPlaybaleText</p>

<MudButton OnClick="e=>AddDomino(new Domino(6,6))">Add</MudButton>
@code {

} 