@page "/makeappointment"
<MudCalendar Items="events"
			 ShowDatePicker="true"
			 Outlined="true"
			 DayStartTime="new TimeOnly(9,0,0)"
			 CellClicked="CellClicked"
			 ShowMonth="false"
			 DayTimeInterval="CalendarTimeInterval.Minutes15" >
	<DayTemplate>
		@if (IsPassed((CustomCalendarItem)context))
		{
			<div class="passed" style="width: 100%; height: 100%; border: 2px solid @GetColor(((CustomCalendarItem)context).Color)">
				<div class="passed">
					<MudText Typo="Typo.body1" Align="MudBlazor.Align.Center">@(((CustomCalendarItem)context).Title)</MudText>
					<MudText Typo="Typo.body1" Align="MudBlazor.Align.Center">@(((CustomCalendarItem)context).Start.ToString()) </MudText>
					<MudText Typo="Typo.body1" Align="MudBlazor.Align.Center">@IsPassed((CustomCalendarItem)context)</MudText>
					<MudText Typo="Typo.body1" Align="MudBlazor.Align.Center">@(((CustomCalendarItem)context).End.ToString()) </MudText>
				</div>
			</div>
		}else{

			<div class="taken" style="width: 100%; height: 100%; border: 2px solid @GetColor(((CustomCalendarItem)context).Color)">
				<div class="taken">
					<MudText  Typo="Typo.body1" Align="MudBlazor.Align.Center">@(((CustomCalendarItem)context).Title)</MudText>
					<MudText  Typo="Typo.body1" Align="MudBlazor.Align.Center">@(((CustomCalendarItem)context).Start.ToString()) </MudText>
					<MudText Typo="Typo.body1" Align="MudBlazor.Align.Center">@(IsPassed((CustomCalendarItem)context))</MudText>
					<MudText  Typo="Typo.body1" Align="MudBlazor.Align.Center">@(((CustomCalendarItem)context).End.ToString()) </MudText>
				</div>
			</div>
		}
	</DayTemplate>
	<WeekTemplate>
		@if (IsPassed((CustomCalendarItem)context))
		{
			<div class="pa-1 passed" style="width: 100%; height: 100%;">
				<MudText Typo="Typo.body1" Align="MudBlazor.Align.Center">@(((CustomCalendarItem)context).Title)</MudText>
				<MudText Typo="Typo.body1" Align="MudBlazor.Align.Center">@(((CustomCalendarItem)context).Start.ToString()) </MudText>
				<MudText Typo="Typo.body1" Align="MudBlazor.Align.Center">@(IsPassed((CustomCalendarItem)context))</MudText>

				<MudText Typo="Typo.body1" Align="MudBlazor.Align.Center">@(((CustomCalendarItem)context).End.ToString()) </MudText>
			</div>
		}else{
			<div class="pa-1 taken" style="width: 100%; height: 100%;">
				<MudText Typo="Typo.body1" Align="MudBlazor.Align.Center">@(((CustomCalendarItem)context).Title)</MudText>
				<MudText Typo="Typo.body1" Align="MudBlazor.Align.Center">@(((CustomCalendarItem)context).Start.ToString()) </MudText>
				<MudText Typo="Typo.body1" Align="MudBlazor.Align.Center">@(IsPassed((CustomCalendarItem)context))</MudText>

				<MudText Typo="Typo.body1" Align="MudBlazor.Align.Center">@(((CustomCalendarItem)context).End.ToString()) </MudText>
			</div>
		}

	</WeekTemplate>

</MudCalendar>
@code {


}