@page "/GuessBreed"
@inject HttpClient _httpClient
@inject IJSRuntime JSRuntime

<style>
    .viewed {
        overflow-y: scroll;
        overflow-x: hidden;
        height: 65vh;
    }
</style>
<MudContainer>

    <h3>Learn about thier breed</h3>
    @if (loading)
    {

        <Pulse />
    }
    <br/>
    <MudGrid>
        <MudItem xs="12" md="8">
            @if (ListToGuess == null)
            {
                <p>loading..</p>
            }
            @if (ListToGuess?.Count == 0)
            {
                <MudButton Color="Color.Secondary" OnClick="NewGame">New game ?</MudButton>
            }
            else
            {
                <MudGrid>
                    <MudItem xs="12" lg="4">

                        <MudImage Width="250" Src="@DogBreedToGuess.ImageUrl"></MudImage>
                    </MudItem>
                    <MudItem xs="12" lg="8">

                        <QuaternarySelection OnBreedSelected="NextDogBreed" Quaternary="DogBreedQuaternary"></QuaternarySelection>
                    </MudItem>
          
                </MudGrid>
            }
        </MudItem>
        <MudItem xs="12" md="4">

            <div class="viewed" id="viewed">
                @if (DogBreedsViewed!=null)
                {
                    
                    @foreach (var i in DogBreedsViewed)
                    {
                        <MudGrid id="view">
                            <MudItem xs="6">
                                <MudImage Width="100"  Src="@i.ImageUrl" ></MudImage>
                            </MudItem>
                            <MudItem xs="5">
                                @if (i.Correct==false)
                                {
                                    <MudChip Color="MudBlazor.Color.Error" Icon="@Icons.Material.Filled.Close">KO</MudChip>
                                }
                                else
                                {
                                    <MudChip Color="MudBlazor.Color.Success" Icon="@Icons.Material.Filled.Check">OK</MudChip>
                                }                      
                                <p>@i.BreedName</p>
                            </MudItem>
                        </MudGrid>
                    }
                }

            </div>
        </MudItem>
   
    <div class="radial-chart">

            <h1>Ok: @_radialData.Count(x => x.Correct == true)</h1>
            <h1>Ko: @_radialData.Count(x => x.Correct != true)</h1>
            <ApexChart TItem="DogBreedResult"
                       Title="Ok"
                     
                       @ref="_barChart">

                <ApexPointSeries TItem="DogBreedResult"
                                 Items="_radialData"
                                 Name="Ok"
                                 SeriesType="SeriesType.Bar"
                                 XValue="@(e => e.Correct)"
                                 YAggregate="@(e => e.Count(e => e.Correct))" />

                <ApexPointSeries TItem="DogBreedResult"
                                 Items="_radialData"
                                 Name="Ko"
                                 SeriesType="SeriesType.Bar"
                                 XValue="@(e => e.Correct)"
                                 YAggregate="@(e => e.Count(e => e.Correct==false))" />
            </ApexChart>
    </div>
    </MudGrid>

</MudContainer>