@page "/GuessBreed"
@inject HttpClient _httpClient
@inject IJSRuntime JSRuntime

<style>
    .viewed {
        overflow-y: scroll;
        overflow-x: hidden;
        height: 65vh;
    }
</style>
<MudContainer>

    <h3>Learn about thier breed</h3>
    @if (loading)
    {

        <Pulse />
    }
    <br/>
    <MudGrid>
        <MudItem xs="12" md="8">
            @if (ListToGuess == null)
            {
                <p>loading..</p>
            }
            @if (ListToGuess?.Count == 0)
            {
                <MudButton Color="Color.Secondary" OnClick="NewGame">New game ?</MudButton>
                <MudNumericField T="int" @bind-Value="TotalGuess" Variant="Variant.Outlined" HelperText="Combien de devinettes?"></MudNumericField>
            }
            else
            {
                <MudGrid>
                    <MudItem xs="12" lg="4">

                        <MudImage Width="250" Src="@DogBreedToGuess.ImageUrl"></MudImage>
                    </MudItem>
                    <MudItem xs="12" lg="8">

                        <QuaternarySelection OnBreedSelected="NextDogBreed" Quaternary="DogBreedQuaternary"></QuaternarySelection>
                    </MudItem>
          
                </MudGrid>
            }
        </MudItem>
        <MudItem xs="12" sm="4" md="4">

            <div class="viewed" id="viewed">
                @if (DogBreedsViewed!=null)
                {
                    
                    @foreach (var i in DogBreedsViewed)
                    {
                        <MudGrid id="view">
                            <MudItem xs="6">
                                <MudImage Width="100"  Src="@i.ImageUrl" ></MudImage>
                            </MudItem>
                            <MudItem xs="5">
                                @if (i.Correct==false)
                                {
                                    <MudChip Color="MudBlazor.Color.Error" T="string" Icon="@Icons.Material.Filled.Close">KO</MudChip>
                                }
                                else
                                {
                                    <MudChip Color="MudBlazor.Color.Success" T="string" Icon="@Icons.Material.Filled.Check">OK</MudChip>
                                }                      
                                <p>@i.BreedName</p>
                            </MudItem>
                        </MudGrid>
                    }
                }

            </div>
        </MudItem>

        <MudItem xs="12" sm="12" md="6" >
            <SimpleStatisticComponent GuessResult="GuessResult"></SimpleStatisticComponent>
        </MudItem>
    </MudGrid>

</MudContainer>